@media only screen and (max-width: 768px) {
    *{
        font-size:24px;
    }

    [class*="col-"]{
        width: 90% !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
    textarea[type=message]{
        width: 100% !important;
    }

    textarea[type=message]{
        width: 100% !important;
    }
    .projectDiv{
        width:90% !important; 
        margin-left: 5% !important;
        margin-right: 5% !important;
    }

    iframe{
        height:4250px !important;
    }
    
    .table-container{
        overflow-x: auto !important;
    }

    .trend-tables{
        width:100% !important;
    }
    
    #slideshow{
        width: 80% !important;
    }

    #main{
        width:100% !important;
    }


    span{
        font-size: 14px !important;
        font-style: italic;
        margin-left: 5px;
    }

    .modal-content{
        width: 80% !important;
    }

    .indexText {
        width: 90% !important;
        margin: 5% !important;
        padding: 10px; 
        font-size: 16px !important;
    } 

    .nav-list > a {
        font-size: 20px !important;
        padding-right: 9px;
    }

    .personContainerDiv {
        margin-left: 17.5% !important;
       
    }

    .viContainer > h2 {
        text-align: center !important;
    }
}
