@media only screen and (max-width: 417px) {
    *{
        font-size:16px;
        box-shadow: none !important;

    }

    #main{
        width:100% !important;
    }

    [class*="col-"]{
        width: 90% !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
    textarea[type=message]{
        width: 100% !important;
    }

    textarea[type=message]{
        width: 100% !important;
    }

    .projectDiv{
        width:90% !important; 
        margin-left: 5% !important;
        margin-right: 5% !important;
    }

    #navicon{
        float: right;
        margin-top: 5%;
        margin-right: 5%;
        visibility: visible !important;
    }
    
    
    .table-container{
        overflow-x: auto !important;
        width: 100%;
    }

    .trend-tables{
        width:100% !important;
    }
    
    #slideshow{
        width: 90% !important;
    }

    span{
        font-size: 14px !important;
        font-style: italic;
        margin-left: 5px;
    }

    .modal-content{
        width: 90% !important;
    }

    .indexText {
        width: 90% !important;
        margin: 5% !important;
        padding: 10px; 
        font-size: 16px !important;
    } 

    .nav-list > a {
        font-size: 20px !important;
        padding-right: 9px;
    }

    div > .personContainerDiv{
        width: 100% !important;
        height: 350px !important;
        margin: auto !important;       
        margin: 0% !important;
    }

    .profileImgDiv {
        object-fit: none !important;
    }

    .navbar a:not(:first-child){
        display: none;
    }
      .navbar a.nav-icon {
        float: right;
        display: block;
      }

    .navbar.responsive {
        position: relative;
    }
    .navbar.responsive .nav-icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

   
  


}
