#theTeam-mother{
    width: 100%;
    padding: 5%;
}


#leftSide{
    width: 40%;
    float: left;   
}

#rightSide{
    width: 55%;
    position: relative;
    padding: 1%;
    float: right;
    margin-left: 5%;
}

#aboutUs{
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.507);
        padding: 1%;
        margin-left: 5%; 
}

#headquarters-map{
    margin-left: 5%;
    height: 550px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.507);
}

#headquartersDiv {
    margin-top: 15%;
    
}

#headquartersDiv > h2 {
    text-align: center;
}

.personContainerDiv{
    width: 100%;
    height: 250px;
    margin-bottom: 10%;
}

.personContainerDiv > a{
    color: black;
    text-decoration: none;
    margin: auto;   
}

.personContainerDiv > a > p {
    font-size: 14px;
}
div > .personText{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-top: 12.5%;
    margin-left: 5%;
}
div > .profileImgDiv{
    width: 180px;
    height: 250px;
    border: 2px solid white;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.507);   

    display: inline-block;
}

.profileImgDiv > a > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


a {
    text-decoration: none;
    font-size: 22px;
    color: black;
 }

tr > td > a {
    color: rgb(0, 0, 180);
    font-size: 16px;
}
a:hover {
    text-decoration: underline;
}

table {
    width:60%;    
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.507);
}
td {
    width: 25%;
    padding: 10px;
}

th{
   font-weight: bold;
   text-align: left;
   text-align: left;
    padding: 10px;
    background-color: rgb(97, 205, 255);
}
  
tbody tr:nth-child(even){
    background-color: rgb(164, 198, 255) !important;
  }
tbody tr:nth-child(odd){
    background-color: rgb(198, 225, 255) !important;
}

.showMore tr:nth-child(even){
    background-color: rgb(164, 198, 255) !important;
  }
.showMore tr:nth-child(odd){
    background-color: rgb(198, 225, 255) !important;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.showMore {
    width: 100%;
}

.showMore > tr > td{
    width: 100%;
}

table > tr > td > a > img{
    max-height: 100px;
    width: auto;
}

.visaBtn{
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    color: blue;
    text-align: left;
    border: 0px;
    cursor: pointer;
}
.visaBtn:hover{
    text-decoration: underline;
}

.profileImgDiv{
    width:100%;
    height: 175px;
    float:left;
    position:relative;
    border: 2px solid white;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.507);
}

.profileImgDiv > img {
    object-fit: cover;
    position: relative;
    vertical-align: top;
}

.profileImgDiv:after {
    content: '\A';
    position: absolute;
    width: 100%; 
    height: 100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
}
    
.profileImgDiv:hover:after{
        opacity:1;
}

.profileImgDiv:hover .darkimg{
    display:block;
}
    
.darkimg{
    position: absolute;
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 15px;        
}

.darkimg > p{
    width: 40%;
    margin:  60% auto;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

.darkimg > p:hover{
    color: darkgray;
    border: 1px solid darkgray;
}
