#theTeam-mother{
    width: 100%;
    padding: 5%;
}


#leftSide{
    width: 40%;
    float: left;   
}

#rightSide{
    width: 55%;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.507);
    position: relative;
    padding: 1%;
    float: right;
    margin-left: 5%;
}

.personContainerDiv{
    width: 100%;
    height: 250px;
    margin-bottom: 10%;
}

.personContainerDiv > a{
    color: black;
    text-decoration: none;
    margin: auto;   
}

.personContainerDiv > a > p {
    font-size: 14px;
}
div > .personText{
    width: 50%;
    float: right;
    padding-top: 12.5%;
}
div > .profileImgDiv{
    width: 180px;
    height: 250px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.507);   
    float: left;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.trend-row > td, .trend-row > td > a{
    color: black;
    font-size: 16px;
}

.trend-row > td > a {
    color: rgb(0, 0, 180);
}
a:hover {
    text-decoration: underline;
}

table {
    width:60%;    
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.507);
}
td {
    width: 25%;
    padding: 10px;
}
th{
    text-align: left;
    padding: 10px;
    background-color: rgb(142, 163, 184);
}

tr > .trend-table-titles{
   font-weight: bold;
   text-align: left;
}
  
tbody tr:nth-child(even){
    background-color: rgb(164, 198, 255);
  }
tbody tr:nth-child(odd){
    background-color: rgb(198, 225, 255);
}


